

body {
    margin: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(-45deg, #ff4b5c, #a600c7, #0073ff, #6a00ff);
    background-size: 100% 100%;
}

.rounded-custom {
    border-radius: 30px !important;
}

.copy-msg {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  margin-left: 8px;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  white-space: nowrap;
  display: none;
}

.infos {
  font-weight: bolder;
  color: rgb(207, 126, 5);
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}