

body {
    margin: 0;
    width: 100vh;
    height: 350vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #ff4b5c, #c700bd, #6200ff, #4400ff);
    background-repeat: no-repeat;
    background-size: 100vw 350vh;
}

.rounded-custom {
    border-radius: 30px !important;
}

.copy-msg {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  margin-left: 8px;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  white-space: nowrap;
  display: none;
}

.infos {
  font-weight: bolder;
  color: rgb(207, 126, 5);
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}