

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    background: linear-gradient(-45deg, rgba(255, 75, 90, 1), rgba(199, 0, 189, 1), rgba(140, 0, 255, 1), rgba(90, 0, 255, 1));
    background-repeat: no-repeat;
    background-size: 110vw 350vh;
}

.rounded-custom {
    border-radius: 30px !important;
}
.test {
  max-width: 330px;
  width: 100%;
  margin-inline: auto;
}


.copy-msg {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  margin-left: 8px;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  white-space: nowrap;
  display: none;
}

.infos {
  font-weight: bolder;
  color: rgb(74, 141, 230);
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}